# Customer Lifetime Value (CLV) - A Case Study

In this case study, we are going to work with the online-retail dataset from UCI Machine Learning repository.

**Dataset Information:**

This is a transnational data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.

**Attribute Information:**

* *InvoiceNo*: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation.

* *StockCode*: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.

* *Description*: Product (item) name. Nominal.

* *Quantity*: The quantities of each product (item) per transaction. Numeric.

* *InvoiceDate*: Invoice Date and time. Numeric, the day and time when each transaction was generated.

* *UnitPrice*: Unit price. Numeric, Product price per unit in sterling.

* *CustomerID*: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.

* *Country*: Country name. Nominal, the name of the country where each customer resides.

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Loading the data
data = pd.read_csv("OnlineRetail.csv", encoding="unicode_escape", parse_dates=['InvoiceDate'])
print("Total number of transactions happened in the given period: "+ str(data.shape[0]))
data.head(5)

Total number of transactions happened in the given period: 541909

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

For our Lifetime value calculation, we don't need all the features in this data set. We need only the CustomerID, InvoiceDate, Quantity and Total Sales (Quantity * UnitPrice).

So, we keep only these features and drop all the others.

In [3]:
# Feature selection
features = ['CustomerID', 'InvoiceNo', 'InvoiceDate', 'Quantity', 'UnitPrice']
data_clv = data[features]
data_clv['TotalSales'] = data_clv['Quantity'].multiply(data_clv['UnitPrice'])
print(data_clv.shape)
data_clv.head()

(541909, 6)

   CustomerID InvoiceNo         InvoiceDate  Quantity  UnitPrice  TotalSales
0     17850.0    536365 2010-12-01 08:26:00         6       2.55       15.30
1     17850.0    536365 2010-12-01 08:26:00         6       3.39       20.34
2     17850.0    536365 2010-12-01 08:26:00         8       2.75       22.00
3     17850.0    536365 2010-12-01 08:26:00         6       3.39       20.34
4     17850.0    536365 2010-12-01 08:26:00         6       3.39       20.34

Now, let's look at the discriptive statistics of the data.

In [4]:
data_clv.describe()

          CustomerID       Quantity      UnitPrice     TotalSales
count  406829.000000  541909.000000  541909.000000  541909.000000
mean    15287.690570       9.552250       4.611114      17.987795
std      1713.600303     218.081158      96.759853     378.810824
min     12346.000000  -80995.000000  -11062.060000 -168469.600000
25%     13953.000000       1.000000       1.250000       3.400000
50%     15152.000000       3.000000       2.080000       9.750000
75%     16791.000000      10.000000       4.130000      17.400000
max     18287.000000   80995.000000   38970.000000  168469.600000

There are some negative values in the Quantity variable and this is mainly because of returns and that causes the negative values in UnitPrice and TotalSales variable as well. Also, there are some other factors such as discount etc., are also contributing to the negative value in price.

In our Customer Lifetime Value calculation, we are interested only in the total value a customer can generate to the business over his/her lifetime, we can simply drop negative values in Quantity & UnitPrice and work with only positive values.

In [5]:
data_clv = data_clv[data_clv['TotalSales'] > 0]
data_clv.describe()

          CustomerID       Quantity      UnitPrice     TotalSales
count  397884.000000  530104.000000  530104.000000  530104.000000
mean    15294.423453      10.542037       3.907625      20.121871
std      1713.141560     155.524124      35.915681     270.356743
min     12346.000000       1.000000       0.001000       0.001000
25%     13969.000000       1.000000       1.250000       3.750000
50%     15159.000000       3.000000       2.080000       9.900000
75%     16795.000000      10.000000       4.130000      17.700000
max     18287.000000   80995.000000   13541.330000  168469.600000

Let's check for missing values in the data and more importantly check for any missing values in the CustomerID variable.

In [6]:
pd.DataFrame(zip(data_clv.isnull().sum(), data_clv.isnull().sum()/len(data_clv)), columns=['Count', 'Proportion'], index=data_clv.columns)

              Count  Proportion
CustomerID   132220    0.249423
InvoiceNo         0    0.000000
InvoiceDate       0    0.000000
Quantity          0    0.000000
UnitPrice         0    0.000000
TotalSales        0    0.000000

So, clearly we have around 24% missing values in the CustomerID variable.

The main objective of our project is to calculate the lifetime value of each customer. Here each customer is identified by the unique CustomerID.Then How could we able to do that, if we don't have CustomerID in the first place? 

So, let's drop the null values in the CustomerID variable.

In [7]:
# Dropping the null values in the CustomerID variable
data_clv = data_clv[pd.notnull(data_clv['CustomerID'])]
pd.DataFrame(zip(data_clv.isnull().sum(), data_clv.isnull().sum()/len(data_clv)), columns=['Count', 'Proportion'], index=data_clv.columns)

             Count  Proportion
CustomerID       0         0.0
InvoiceNo        0         0.0
InvoiceDate      0         0.0
Quantity         0         0.0
UnitPrice        0         0.0
TotalSales       0         0.0

Finally, all the required cleaning of the data is done. Let's take a look at the final data which we use in our project.

In [8]:
# Printing the details of the dataset
maxdate = data_clv['InvoiceDate'].dt.date.max()
mindate = data_clv['InvoiceDate'].dt.date.min()
unique_cust = data_clv['CustomerID'].nunique()
tot_quantity = data_clv['Quantity'].sum()
tot_sales = data_clv['TotalSales'].sum()

print(f"The Time range of transactions is: {mindate} to {maxdate}")
print(f"Total number of unique customers: {unique_cust}")
print(f"Total Quantity Sold: {tot_quantity}")
print(f"Total Sales for the period: {tot_sales}")

The Time range of transactions is: 2010-12-01 to 2011-12-09
Total number of unique customers: 4338
Total Quantity Sold: 5167812
Total Sales for the period: 8911407.904

# 1. Aggregate Model

The most simplest and the oldest method of computing CLV is this Aggregate/Average method. This assumes a constant average spend and churn rate for all the customers.

This method does not differentiate between customers and produces a single value for CLV at an overall Level. This leads to unrealistic estimates if some of the customers transacted in high value and high volume, which ultimately skews the average CLV value.

The General Formula for calculating CLV is:

### CLV = ((Average Sales X Purchase Frequency) / Churn) X Profit Margin

**Where,**  
  **Average Sales = TotalSales/Total no. of orders**
   
   **Purchase Frequency = Total no. of orders/Total unique customers**
   
   **Retention rate = Total no. of orders greater than 1/ Total unique customers**
   
   **Churn = 1 - Retention rate**
   
   **Profit Margin = Based on business context**

In this example case, I am assuming the Profit margin for each transaction to be roughly 5%.

In [9]:
# Transforming the data to customer level for the analysis
customer = data_clv.groupby('CustomerID').agg({'InvoiceDate':lambda x: (x.max() - x.min()).days, 
                                                   'InvoiceNo': lambda x: len(x),
                                                  'TotalSales': lambda x: sum(x)})

customer.columns = ['Age', 'Frequency', 'TotalSales']
customer.head()

            Age  Frequency  TotalSales
CustomerID
12346.0       0          1    77183.60
12347.0     365        182     4310.00
12348.0     282         31     1797.24
12349.0       0         73     1757.55
12350.0       0         17      334.40

In [10]:
# Calculating the necessary variables for CLV calculation
Average_sales = round(np.mean(customer['TotalSales']),2)
print(f"Average sales: ${Average_sales}")

Purchase_freq = round(np.mean(customer['Frequency']), 2)
print(f"Purchase Frequency: {Purchase_freq}")

Retention_rate = customer[customer['Frequency']>1].shape[0]/customer.shape[0]
churn = round(1 - Retention_rate, 2)
print(f"Churn: {churn}%")

Average sales: $2054.27
Purchase Frequency: 91.72
Churn: 0.02%

In [11]:
# Calculating the CLV
Profit_margin = 0.05 

CLV = round(((Average_sales * Purchase_freq/churn)) * Profit_margin, 2)
print(f"The Customer Lifetime Value (CLV) for each customer is: ${CLV}")

The Customer Lifetime Value (CLV) for each customer is: $471044.11

From our basic model, we got a **CLV value of $471K** for each customer. Do you think this number makes sense? Well it doesn't for me!

The reason is becasue of the very high sales value from very few customers, which actually skewed the overall number. Also, not all the customers are same right!

Take a look at it for yourself:

In [12]:
customer['TotalSales'].describe()

count      4338.000000
mean       2054.266460
std        8989.230441
min           3.750000
25%         307.415000
50%         674.485000
75%        1661.740000
max      280206.020000
Name: TotalSales, dtype: float64

From the descriptive statistics it is clear that, almost 75% of customers in our data have sales value less than 2000. Whereas, the maximum sales value is around 280k. If you now look at the CLV value, do you think all the customers who transact with the business can really generate over 470K in their lifetime? Definitely not! It varies for each customers or atleast for each customer segments.

This is another limitation of this model.

# 2. Cohort Model

Instead of simply assuming all the customers to be one group, we can try to split them into multiple groups based and calculate the CLV for each group. This model overcomes the major drawback of the simple Aggregate model which assumes the entire customers as a single group. This is called Cohort model.

The main assumption of this model is that, customers within a cohort spend similarly.

The most common way to group customers into cohorts is by the start date of a customer, typically by month. The best choice will depend on the customer acquisition rate, seasonality of business, and whether additional customer information can be used.

In this case, I am grouping them into different cohorts by their start month. So, I will get 12 cohorts of customers (Jan-Dec).

In [13]:
# Transforming the data to customer level for the analysis
customer = data_clv.groupby('CustomerID').agg({'InvoiceDate':lambda x: x.min().month, 
                                                   'InvoiceNo': lambda x: len(x),
                                                  'TotalSales': lambda x: sum(x)})

customer.columns = ['Start_Month', 'Frequency', 'TotalSales']
customer.head()

            Start_Month  Frequency  TotalSales
CustomerID
12346.0               1          1    77183.60
12347.0              12        182     4310.00
12348.0              12         31     1797.24
12349.0              11         73     1757.55
12350.0               2         17      334.40

In [14]:
# Calculating CLV for each cohort
months = ['Jan', 'Feb', 'March', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
Monthly_CLV = []

for i in range(1, 13):
    customer_m = customer[customer['Start_Month']==i]
    
    Average_sales = round(np.mean(customer_m['TotalSales']),2)
    
    Purchase_freq = round(np.mean(customer_m['Frequency']), 2)
    
    Retention_rate = customer_m[customer_m['Frequency']>1].shape[0]/customer_m.shape[0]
    churn = round(1 - Retention_rate, 2)
    
    CLV = round(((Average_sales * Purchase_freq/churn)) * Profit_margin, 2)
    
    Monthly_CLV.append(CLV)

In [15]:
monthly_clv = pd.DataFrame(zip(months, Monthly_CLV), columns=['Months', 'CLV'])
display(monthly_clv.style.background_gradient())

Now if you look at the result, we have 12 different CLV value for 12 months from Jan-Dec. And it is pretty clear that, customers who are acquired in different months have different CLV values attached to them. This is because, they could be acquired using different campaigns etc., so thier behaviour might be different from others.

Also, if you look at the values for the month of Janaury and December, the CLV values are quite high. This could be a false value, because the data we are using is from a online retails who sell gifts to wholesalers/companies and the festivals like Christmas, Newyear falls on those months. That's why we are seeing a high CLV value for those customers who are started on the month of January and December.

### I hope you find this useful. Please do share your comments/suggestions on these.

### Also, stay tuned for the advanced and more accurate Probabilistic models to calculate CLV, which I will add to this notebook soon.